$breakpoints: (
  "baby-bear"    "only screen and (min-width: 400px)",
  "mama-bear"    "only screen and (min-width: 600px)",
  "papa-bear"    "only screen and (min-width: 900px)",
  "granny-bear"  "only screen and (min-width: 1200px)"
) !default;

@mixin mq($value) {
  $mq-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $mq:   nth($breakpoint, 2);

    @if $name == $value and $mq {
      $mq-found: true;

      @media #{$mq} {
        @content;
      }
    }
  }

  @if $mq-found == false {
    @warn "Could not find breakpoint with the name ‘#{$value}’."
  }
}
